doctype
html

  body!=body
    #container
      #header
        h1 Retrain
      #main

        hr

        #annotate_messages
          .label
            | Message:
          #message
            p#messageHolder()
            | #{text_to_classify}

        hr

        #category
          .label
            | Category
            p
          .instructions
            | Check if the classification is correct. If so, click "save". If not, update the category, then click "save".
            p
            div
              select
                each category, i in categories
                  option(value=i) #{category}
          .done
            input.nexttask(type='submit', value='Save')
          p
          .floatfix

        #footer
          - var currentYear = new Date().getFullYear();
          | © ImpactLab #{currentYear}

