doctype
html
  script(type='text/javascript' src='vendor/jquery/jquery-1.11.1.min.js')
  script(type='text/javascript' src='scripts/client.js')
  body!=body
    //- starts hidden
    #container(style='display: none;')
      #header
        h1 Retrain
      #main

        hr

        #annotate_messages
          #message
            //- TODO: hidden
            | Grant Id:
            p
              h4#grantId

            | Text:
            p
              h4#messageText

            p#messageClassifications
              | Machine suggestion(s):
              h4#suggestedClassification
              h4#humanClassification

        hr

        #category
          .instructions
            | Check if the classification is correct. If so, click "save". If not, update the category, then click "save".
            p
            div
              select#categorySelect
                each category, key in categories
                  option(value=key) #{key} - #{category}
              select#subcategorySelect
                each category, key in sub_categories
                  option(value=key) #{key} - #{category}
          .done
            input.nextTask(type='submit', value='Save')
          p
          .floatfix

        #footer
          - var currentYear = new Date().getFullYear();
          br
          | © ImpactLab #{currentYear}

