doctype
html
  script(type='text/javascript' src='vendor/jquery/jquery-1.11.1.min.js')
  script(type='text/javascript' src='scripts/client.js')
  body!=body
    //- starts hidden
    #container(style='display: none;')
      #header
        h1 Retrain
      #main

        hr

        #annotate_messages
          .label
            | Text:
          #message
            p.messageHolder()
              h4#messageText
            //- suggestions
            p#messageClassifications
              | Machine suggestion:
              h4#suggestedClassification
              h4#humanClassification
            //- each val, key in message_to_classify.classification
            //-   | #{key} : #{val}
            //-   br

        hr

        #category
          .instructions
            | Check if the classification is correct. If so, click "save". If not, update the category, then click "save".
            p
            div
              select#categorySelect
                each category, i in categories
                  option(value=i) #{category}
          .done
            input.nextTask(type='submit', value='Save')
          p
          .floatfix

        #footer
          - var currentYear = new Date().getFullYear();
          br
          | © ImpactLab #{currentYear}

